# Configuration file
# Classification (U)
# Unclassified until filled.

# List of elasticsearch nodes in cluster
# Secure Syntax: host = ["https://servername:port", "https://servername2:port"]
# Unsecure Syntax: host = ["http://servername:port", "http://servername2:port"]
# Old Syntax: ["servername", "servername2"]
#   Note:  If using the old syntax must also use port and scheme entries.
host = ["https://HOST_NAME1:9200", "https://HOST_NAME2:9200"]
# Elasticsearch port - default is port 9200
#   Note: Not required if using new syntax for host entry.
port = 9200
# User name
# If no user name is required then use None
# Example:  user = "username"
user = None
# User pswd
# Example:  japd = "xxx"
japd = None

# SSL Configuration settings
# If not set will connect to Elasticsearch without using SSL connections.
# File containing the SSL certificate authority.
# Example: ssl_client_ca = "/etc/elasticsearch/certs/ca.pem"
ssl_client_ca = None
# Type of connection when using SSL connection.
#   Note: Not required if using new syntax for host entry.
scheme = "https"

# In addition to the normal configuration entries, modify these entries for this testing section.
# Note 1:  **log_repo_dir** is the logical directory path to the share file system.  For use in a Docker set up.
# Note 2:  **phy_repo_dir** is the physical directory path to the share file system.
# Note 3:  If running ElasticSearch as Docker setup, then these two paths will be different.  If running as a standard setup, they will be the same.
log_repo_dir = "LOGICAL_DIR_PATH"
phy_repo_dir = "PHYSICAL_DIR_PATH"
